version: '3.8'

services:
  # 1. Banco de Dados (PostgreSQL)
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=cadrius
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  # 2. Redis (Cache e Filas)
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  # 3. Aplicação Web (Django)
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      # Conecta ao serviço 'db' definido acima
      - DATABASE_URL=postgres://postgres:postgres@db:5432/cadrius
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

  # 4. Worker (Processamento em Background)
  worker:
    build: .
    command: python manage.py qcluster
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/cadrius
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - db
      - redis

volumes:
  postgres_data: